{% extends "base.html" %}

{% block additionalScripts%}
{% endblock %}

{% block tabName -%}
about
{%- endblock %}

{% block content %}
<div class="row">
	<div class="col-12 col-centered">
		<h2>About Us</h2>
	</div>
	<div class="w-100"></div>
	<div class="col-12">
		<p>The Fighting Gobies have been playing competitive ultimate in the Ohio Valley region since 1995. In the last twenty years, we have developed into three teams: Division I men’s, Division I women’s, and Developmental men’s. We travel around the Ohio Valley and the East Coast to participate in tournaments, as well as host our own annual tournaments, North Coast and CWRUL.
		</p>
	    <p>Both DI teams regularly qualify for and place well at Regionals. The teams have had enormous success in recent years. In 2016 the Division I men's team qualified for nationals for the first time and in 2018, the Division I women's team played in two games to go at Regionals.
    	</p>
	    <p>As this disc sport has continued to grow in popularity and recognition across the country, we have grown as a team. We run high intensity practices and push each other to succeed, but also spend our down time as the closest friends that you can find. Our club is open to all CWRU students (undergrad and graduate), faculty, and staff. Join us at any of our recruitment events or contact us! 
    	</p>
	</div>
</div>
<hr>
<div class="row justify-content-center">
	<div class="col-12 col-centered">
		<h2>Contact</h2>
		<h4>General: <strong>cwru-disc-officers@case.edu</strong></h4>
	</div>
</div>
<hr>
<div class="row justify-content-center">
	<div class="col-12 col-centered">
		<h4>Executive Officers</h4>
	</div>
	<div class="w-100"></div>
	<div class="col col-centered">
		<strong>President</strong>
		<span>Derek Lin dxl511@case.edu</span>
	</div>
	<div class="w-100"></div>
	<div class="col col-centered">
		<strong>Vice President</strong>
		<span>Benjamin Alexander bja47@case.edu</span>
	</div>
	<div class="w-100"></div>
	<div class="col col-centered">
		<strong>Treasurer</strong>
		<span>Won Young Choi wxc366@case.edu</span>
	</div>
	<div class="w-100"></div>
	<div class="col col-centered">
		<strong>Secretary</strong>
		<span>Maddie Pletzke mmp94@case.edu</span>
	</div>
</div>
<hr>
<div class="row justify-content-center">
	<div class="col-12 col-centered">
		<h4>Captains</h4>
	</div>
	<div class="w-100"></div>
	<div class="col-3 col-centered">
		<strong>Men</strong>
		<div class="row">
			<div class="col">
				<span>Bryan Dunbar bad62@case.edu</span>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<span>Evan Haug emh152@case.edu</span>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<span>Nick Longo nml41@case.edu</span>
			</div>
		</div>
	</div>
	<div class="col-3 col-centered">
		<strong>Women</strong>
		<div class="row">
			<div class="col">
				<span>Kippie Douglas ekd36@case.edu</span>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<span>Andrea Mael aem113@case.edu</span>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<span>Lucia Wei llw44@case.edu</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}