{% extends "base.html" %}

{% block tabName -%}
teams
{%- endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col col-centered">
			<h2>{{team.name.decode("utf-8")}}</h2>
			<img src="{{ url_for('static', filename='images/teams/' + team.imageFileName.decode('utf8')) }}" />
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="row table-head">
				<div class="col-2 col-centered">
				</div>
				<div class="col-2 col-centered">
					Name
				</div>
				<div class="col-2 col-centered">
					Hometown
				</div>
				<div class="col-2 col-centered">
					Graduation Year
				</div>
				<div class="col-2 col-centered">
					Major
				</div>
				<div class="col-2 col-centered">
					Position
				</div>
			</div>
			{%for teamplayer in team.team_players%}
				<div class="row table-body">
					<div class="col-2 col-centered">
						<img src="{{ url_for('static', filename='images/players/' + teamplayer.player.imageFileName.decode('utf8')) }}" />
					</div>
					<div class="col-2 col-centered">
						{{teamplayer.printName()}}
					</div>
					<div class="col-2 col-centered">
						{{teamplayer.player.hometown.decode("utf-8")}}
					</div>
					<div class="col-2 col-centered">
						{{teamplayer.player.gradYear.decode("utf-8")}}
					</div>
					<div class="col-2 col-centered">
						{{teamplayer.player.major.decode("utf-8")}}
					</div>
					<div class="col-2 col-centered">
						{{teamplayer.position.decode("utf-8")}}
					</div>
				</div>
			{%endfor%}
		</div>
	</div>
	

{% endblock%}
